body{
  background:#0f0f14;
  color:#fff;
  font-family:Arial;
  padding:20px;
}
header{text-align:center}
.menu,.cart{
  background:#1c1c28;
  padding:15px;
  border-radius:12px;
  margin:15px 0;
}
.item{
  display:flex;
  justify-content:space-between;
  margin:10px 0;
}
button{
  background:#6a5cff;
  border:none;
  padding:8px 12px;
  color:#fff;
  border-radius:8px;
  cursor:pointer;
}
.qris{
  width:200px;
  display:block;
  margin:10px auto;
}
.wa{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#25D366;
  color:#fff;
  padding:12px;
  border-radius:50px;
  text-decoration:none;
}
