body{font-family:Arial;background:#111;color:#fff;padding:20px}
input,select,button{padding:10px;margin:5px}
.item,.card{background:#222;padding:10px;margin:10px 0}
button{background:#00ff9c;border:none;cursor:pointer}
.qris{width:160px;margin:10px 0}
@media print{button,input,select{display:none}}
